.select-all .toggle {
  margin-left: 7px;
}
i {
  color: #555;
  font-weight: 600;
}
.tag-remove {
  margin: 5px;
  color: red;
  font-weight: bold;
}
.dropdown,
.dropdown-trigger,
.dropdown-content {
  width: 100%;
}
.dropdown-trigger {
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity)) !important;
  border-width: 2px !important;
}
/* .dropdown-trigger > ul:first {
  display: flex;
  flex-wrap: wrap;
} */
